<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />

<meta name="viewport" content="width=device-width, initial-scale=1">


<title>Editar role usuario</title>

<link rel="stylesheet"
	th:href="@{/bootstrap-5.2.0-dist/css/bootstrap.min.css}">
<script th:scr="@{/jquery-3.6.0.min/jquery-3.6.0.min.js}"></script>
<script th:scr="@{/bootstrap-5.2.0-dist/js/bootstrap.min.js}"></script>
<style>
.mensagem {
	color: red;
}
</style>
</head>
<body>

	<div class="container">
		<div class="row">
			<div class="col">
				<h2>Atribuir role</h2>
				<form action="#"
					th:action="@{/usuario/editarRole/{id}(id=${usuario.id})}"
					th:object="${usuario}" method="post">

					<div class="row mb-3">
						<label class="col-sm-1 col-form-label">Nome:</label>
						<div class="col-sm-5">
							<input class="form-control" type="text" th:field="*{nome}"
								disabled>
						</div>
					</div>

					<div class="row mb-3">
						<label class="col-sm-1 col-form-label">CPF:</label>
						<div class="col-sm-3">
							<input class="form-control" type="text" th:field="*{cpf}"
								disabled>
						</div>
					</div>


					<div class="row mb-3">
						<label class="col-sm-1 col-form-label">Nascimento:</label>
						<div class="col-sm-2">
							<input class="form-control" type="text"
								th:field="*{dataNascimento}" disabled>
						</div>
					</div>


					<div class="row mb-3">
						<label class="col-sm-1 col-form-label">Email:</label>
						<div class="col-sm-2">
							<input class="form-control" type="text" th:field="*{email}"
								disabled>
						</div>
					</div>

					<div class="row mb-3">
						<label class="col-sm-1 col-form-label">Login:</label>
						<div class="col-sm-2">
							<input class="form-control" type="text" th:field="*{login}"
								disabled>
						</div>
					</div>					

					<!-- 					não esta puxando a role -->
					<div class="row mb-3">
						<label class="col-sm-1 col-form-label">Roles:</label>
						<div class="col-sm-2">
							<th:block th:each="rl : ${listaRoles}">								
								<div th:if="${#lists.contains(usuario.roles, rl)}" class="form-check">
										<input class="form-check-input" type="checkbox" name="rls"
										th:value="${rl.id}" checked/> 
									<label class="form-check-label" th:text="${rl.role}"></label>
								</div>
								<div th:unless="${#lists.contains(usuario.roles, rl)}" class="form-check">
										<input class="form-check-input" type="checkbox" name="rls"
										th:value="${rl.id}" /> 
									<label class="form-check-label" th:text="${rl.role}"></label>
								</div>
							</th:block>	
						</div>	
						<div class="col-sm-5">
							<span class="mensagem" th:if="${mensagem}" th:text="${mensagem}"></span>
						</div>
					</div>

					<input class="btn btn-primary" type="submit" value="Alterar" />
				</form>
			</div>
		</div>
	</div>



</body>
</html>