<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title th:text="#{index.library}"></title>

	<link rel="stylesheet"
	th:href="@{/bootstrap-5.2.0-dist/css/bootstrap.min.css}">
<script th:scr="@{/bootstrap-5.2.0-dist/js/bootstrap.bundle.min.js}"></script>
<script th:scr="@{/jquery-3.6.0.min/jquery-3.6.0.min.js}"></script>

</head>

<body>
	<div th:replace="auth/auth-generica-nav :: navGenerica"></div>
	<div class="container">
		<div class="row">
			<div class="col">
				<h2 th:text="#{index.welcome}"></h2>
			</div>
		</div>
	</div>
</body>