<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>alterar usuario</title>

<link rel="stylesheet"
	th:href="@{/bootstrap-5.2.0-dist/css/bootstrap.min.css}">
<script th:scr="@{/jquery-3.6.0.min/jquery-3.6.0.min.js}"></script>
<script th:scr="@{/bootstrap-5.2.0-dist/js/bootstrap.min.js}"></script>



<style>
.mensagem {
  color: red;
}
</style>
</head>
<body>
<div th:replace="auth/auth-generica-nav :: navGenerica"></div>
<div class="container">
  <div class="row">  	
    <div class="col">
    	<h2 th:text="#{user.alterar.usuario.edit.user}"></h2> 
		<form th:action="@{/usuario/editar/{id}(id=${usuario.id})}" th:object="${usuario}" method="post">
			  
			<div class="row mb-3">
			    <label class="col-sm-1 col-form-label" th:text="#{form.name}"></label>
			    <div class="col-sm-5">
			    	<input class="form-control" type="text" th:field="*{nome}"> 
			    </div>
			    <div class="col-sm-5"> 
			    	<span class="mensagem" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
			    </div>				
			</div>
			
			<div class="row mb-3">
			    <label class="col-sm-1 col-form-label" th:text="#{form.cpf}"></label>
			    <div class="col-sm-3">
			    	<input class="form-control cpf-mask" placeholder="cpf sem traços:" maxlength="11" type="text" th:field="*{cpf}">
			    </div>
				<div class="col-sm-5"> 
			    	<span class="mensagem" th:if="${#fields.hasErrors('cpf')}" th:errors="*{cpf}"></span>
			    </div>
			</div>
			
			
			<div class="row mb-3">
			    <label class="col-sm-1 col-form-label" th:text="#{form.birthday}"></label>
			    <div class="col-sm-2">
			    	<input class="form-control" type="text" maxlength="10" th:field="*{dataNascimento}"> 
			    </div>
				<div class="col-sm-5"> 
			    	<span class="mensagem" th:if="${#fields.hasErrors('dataNascimento')}" th:errors="*{dataNascimento}"></span>
			    </div>
			</div>
			
			
			<div class="row mb-3">
			    <label class="col-sm-1 col-form-label" th:text="#{form.email}"></label>
			    <div class="col-sm-2">
			    	<input class="form-control" type="email" th:field="*{email}"> 
			    </div>
				<div class="col-sm-5"> 
			    	<span class="mensagem" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
			    </div>
			</div>			
			
			<div class="row mb-3">
			    <label class="col-sm-1 col-form-label" th:text="#{form.login}"></label>
			    <div class="col-sm-2">
			    	<input class="form-control" type="text" th:field="*{login}"> 
			    </div>
				<div class="col-sm-5"> 
			    	<span class="mensagem" th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></span>
			    </div>
			</div>
			
			<div class="row mb-3">
			    <label class="col-sm-1 col-form-label" th:text="#{form.password}"></label>
			    <div class="col-sm-2">
			    	<input class="form-control" type="password" maxlength="50" th:field="*{password}"> 
			    </div>
				<div class="col-sm-5"> 
			    	<span class="mensagem" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
			    </div>
			</div>
			
			<input  class="btn btn-primary" type="submit" th:value="#{user.alterar.usuario.edit.button}"/>
		</form>
    </div>
</div>
</div>

</body>
</html>